<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/forumdb</property>
    <property name="hibernate.connection.username">FORUMDB</property>
    <property name="hibernate.connection.password">FORUMDB</property>
    <!-- Session configuration -->
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <mapping resource="forum/entities/Threads.hbm.xml"/>
    <mapping resource="forum/entities/Users.hbm.xml"/>
    <mapping resource="forum/entities/Authorities.hbm.xml"/>
    <mapping resource="forum/entities/Comments.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
